@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

@import "base/base";
@import "base/typography";
@import "base/animations";
@import "base/utilities";

@import "layout/header";

@import "components/button";

@import "pages/home";

// Basic Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // 1rem = 10px
  font-size: 62.5%;
}

body {
  // Set overall font definitions
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

// Heading Primary
.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  // Fixing shaking animations on text
  backface-visibility: hidden;
  margin-bottom: 6rem;

  // Heading Primary Main
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    // Animation properties
    animation: moveInLeft 1s ease-in-out;
    // animation-name: moveInLeft;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    // animation-iteration-count: 3;
    // animation-delay: 2s;
  }

  // Heading Primary Sub
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;

    // Animation shorthand property
    animation: moveInRight 1s ease-out;
  }
}
